@import "tailwindcss";

#bottom{
    background: linear-gradient(transparent,black)
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root{
    --c1:#242424;
    --c2:#9A959A;
   
}