@import "tailwindcss";
#bottom{
    background: linear-gradient(transparent,black)
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --c1:;
    --c2:;
    --c3:;
    --c4:;
}